#app {
    height: 100vh;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

main {
    padding: 3% 0%;
}

@media screen and (min-width: 320px) {
    #app {
        font-size: calc(16px + 0.6vw);
    }
}

header {
    height: 100px;
}

.nav {
    float: right;
    margin-right: 10%;
    font-size: calc(16px + 0.8vw);
}

.nav ul li {
    float: left;
    padding: 0px 20px;
}

.nav a:link, a:visited, a:hover {
    color: #000;
}

.nav li a:link {
    text-decoration: none;
}

.nav li a:hover {
    color: #f3822d;
    transition: color 0.5s ease-in;
}

#stripped-background {
    height: 30px;
    background: url('~@/assets/stripe.jpg');
    width: 100%;
}

.laweta {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.laweta-img {
    margin-top: 15%;
    margin-left: 15%;
    max-width: 80%;
}

.align {
    position: absolute;
    bottom: 40%;
    right: 43%;
}

#log24 {
    display: block;
    letter-spacing: 0.1vw;
    font-size: 10.5vw;
    margin-bottom: -6vw;
    margin-left: 21vw;
}

.osobowe-busy-tir {
    text-shadow: 0px 2px 3px #555;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.6vw;
    display: block;
    margin-bottom: -2vw;
}

.pomoc-drogowa-ostroda {
    color: #000;
    text-shadow: 0px 2px 3px #555;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.5vw;
    letter-spacing: 0.05vw;
    display: block;
}

#phone {
    letter-spacing: 0.5vw;
    font-size: 6vw;
    display: block;
    margin-top: -4vw;
}

.blink-me {
    font-weight: bold;
    text-shadow: 0px 2px 3px #555;
    letter-spacing: 4px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-name: blinker;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-moz-keyframes blinker {
    0% {
        color: #000;
    }
    100% {
        color: #f3822d;
    }
}

@-webkit-keyframes blinker {
    0% {
        color: #000;
    }
    100% {
        color: #f3822d;
    }
}

@keyframes blinker {
    0% {
        color: #000;
    }
    100% {
        color: #f3822d;
    }
}

main {
    flex: 1;
}