footer {
    background: url("~@/assets/tweed.png");
}

@media screen and (max-width: 600px) {
    footer .map {
        display: none;
    }
}

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ddd;
}

.footer .title {
    font-size: calc(18px + 0.7vw);
    font-weight: bold;
}

.footer ul li {
    list-style: none;
}

.footer a {
    color: #ddd;
}

.footer a:hover {
    color: #fff;
}